@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #6c6c6f;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px; }

a {
  text-decoration: none;
  transition: 300ms ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

section {
  display: block;
  position: relative;
  padding: 50px 0;
  width: 100%; }

.navbar {
  z-index: 1; }
  .navbar .navbar-toggler {
    border: 0; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255,129,126, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 8h24M4 16h24M4 24h24"/%3E%3C/svg%3E'); }
    .navbar .navbar-toggler .navbar-toggler {
      border-color: rgba(255, 129, 126, 0.9); }

@media (min-width: 768px) {
  .nav-link {
    color: #263a41 !important;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    text-transform: uppercase; }
    .nav-link:hover {
      color: #ff817e !important; } }

.banner {
  background-image: url("../images/leaf.png");
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 12.5%;
  padding: 8% 0;
  position: relative; }
  .banner__spa-image {
    position: absolute;
    right: 0;
    top: -103px;
    width: 43.4% !important; }
  .banner__title {
    color: #ff817e;
    font-family: "Rufina";
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .banner__heading {
    color: #1e2528;
    font-size: 49px;
    line-height: 60px;
    margin-top: 25px; }
  .banner__desc {
    color: #555;
    margin-bottom: 50px;
    margin-top: 17px; }
  .banner__btn {
    background-color: #ff817e;
    border: 1px solid #ff817e;
    border-radius: 50px;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase; }
    .banner__btn:hover {
      background-color: #fff;
      border-color: #ff817e;
      color: #ff817e;
      text-decoration: none; }
  .banner__video-btn {
    color: #555;
    margin-left: 15px; }
    .banner__video-btn:hover {
      color: #ff817e; }
    .banner__video-btn__title-play {
      color: #ff817e;
      font-family: "Rufina";
      font-weight: 400;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 14px; }
      .banner__video-btn__title-play:hover {
        text-decoration: underline; }

@media (max-width: 767px) {
  .banner__spa-image {
    display: none; } }

@media (min-width: 768px) {
  .banner__spa-image {
    display: block !important; } }

.about {
  position: relative; }
  .about__img {
    margin-bottom: 165px; }
    .about__img__flower-rose {
      left: 16%;
      min-width: 160px;
      position: absolute; }
    .about__img__flower-jasmine {
      display: none;
      position: absolute; }
  .about__abt {
    max-width: none; }
    .about__abt > img {
      left: 70%;
      position: absolute;
      top: 0; }
    .about__abt__tagline {
      color: #888;
      display: block;
      font-size: 20px;
      font-weight: 400;
      line-height: .8;
      margin-bottom: 27px;
      text-transform: uppercase; }
    .about__abt__sec-title {
      color: #1e2528;
      font-size: 33px;
      margin-bottom: 32px; }
    .about__abt__desc {
      color: #888;
      font-weight: 400; }
  .about__read-more {
    margin-top: 50px; }
    .about__read-more__btn {
      background-color: #ff817e;
      border: 1px solid #ff817e;
      border-radius: 50px;
      padding: 20px 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: .8;
      width: 170px; }
      .about__read-more__btn:hover {
        background-color: #fff;
        border-color: #ff817e;
        color: #ff817e;
        text-decoration: none; }

@media (min-widtH: 992px) {
  .about__img__flower-2 {
    display: block;
    left: 65%;
    top: 47%; } }

.service {
  display: block;
  margin-bottom: 40px;
  padding: 50px 0;
  position: relative;
  width: 100%; }
  .service__two {
    display: none; }
  .service__free {
    display: none; }
  .service__four {
    display: none; }
  .service .container {
    padding: 0; }
    .service .container__single-service {
      cursor: pointer;
      overflow: hidden;
      position: relative; }
      .service .container__single-service > img {
        width: 100%; }
      .service .container__single-service__service-hover {
        background-color: rgba(255, 129, 126, 0.9);
        bottom: -100%;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        transition: .5s;
        width: 100%; }
        .service .container__single-service__service-hover > img {
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translateY(-50%); }
        .service .container__single-service__service-hover > span {
          color: #fff;
          display: block;
          font-family: 'Rufina', serif;
          font-weight: 700;
          left: 46%;
          position: absolute;
          text-align: center;
          top: 60%;
          transform: translateX(-4%); }
    .service .container .col-lg-3 {
      padding-right: 0; }
  .service__one {
    display: block; }
    .service__one:hover__hover {
      bottom: 0; }

@media (min-width: 576px) {
  .service .container .single-service .single-hover > span {
    transform: translateX(-1%); } }

@media (min-width: 768px) {
  .service #two {
    display: block; }
    .service #two:hover #sh-two {
      bottom: 0; }
  .service #free {
    display: block; }
    .service #free:hover #sh-free {
      bottom: 0; }
  .service .container .single-service .service-hover > img {
    transform: translateX(-50%); }
  .service .container .single-service .service-hover > span {
    top: 70%;
    transform: translateX(-35%); } }

@media (min-width: 992px) {
  .service #four {
    display: block; }
    .service #four:hover #sh-four {
      bottom: 0; } }

@media (min-width: 1600px) {
  .service .container .single-service .service-hover > span {
    transform: translateX(-32%); } }

main .procedures .container .sec-title {
  font-size: 33px;
  color: #1e2528;
  margin-bottom: 32px; }

main .procedures .container p {
  color: #888;
  margin-bottom: 0; }

main .procedures .container .post {
  margin-top: 70px;
  border: 1px solid #e3e6ea;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px; }
  main .procedures .container .post:hover {
    box-shadow: 0 5px 20px #f0f0f0; }
  main .procedures .container .post > img {
    margin-bottom: 35px;
    display: block;
    width: 100%; }
  main .procedures .container .post h4 a {
    color: #263a41;
    font-size: 22px; }
  main .procedures .container .post p {
    color: #888;
    margin-bottom: 39px; }
  main .procedures .container .post .btn-primary {
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: #ff817e;
    border: none; }
    main .procedures .container .post .btn-primary:hover {
      background-color: #212529;
      text-decoration: none; }

@media (min-width: 768px) {
  main .procedures .container .sec-title {
    font-size: 42px;
    margin-bottom: 32px; } }

main .testimonial {
  background-color: #fff9f8; }
  main .testimonial .container #carousel .carousel-indicators {
    margin-bottom: 30px; }
    main .testimonial .container #carousel .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #ffc3c2; }
  main .testimonial .container #carousel .carousel-inner .carousel-item .single-tst {
    text-align: center; }
    main .testimonial .container #carousel .carousel-inner .carousel-item .single-tst > img {
      margin: 0 auto 45px; }
    main .testimonial .container #carousel .carousel-inner .carousel-item .single-tst p {
      color: #263a41;
      font-family: 'Rufina', serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 35px;
      margin-bottom: 43px; }
    main .testimonial .container #carousel .carousel-inner .carousel-item .single-tst .client-info > img {
      border-radius: 50px;
      margin-bottom: 22px;
      height: 76px;
      width: 76px; }
    main .testimonial .container #carousel .carousel-inner .carousel-item .single-tst .client-info p {
      font-size: 22px;
      margin-bottom: 0; }
      main .testimonial .container #carousel .carousel-inner .carousel-item .single-tst .client-info p span {
        display: inline-block;
        font-size: 15px;
        font-weight: 400; }

main .team .section-heading {
  margin-bottom: 70px;
  text-align: center; }
  main .team .section-heading .sec-title {
    color: #1e2528;
    margin-bottom: 32px;
    font-weight: 800; }
  main .team .section-heading p {
    color: #888;
    margin-bottom: 0; }

main .team .single-memb {
  position: relative;
  margin-bottom: 30px;
  width: 100%; }
  main .team .single-memb > img {
    display: block;
    width: 100%;
    height: auto; }
  main .team .single-memb .memb-info {
    background-color: #fff;
    padding: 20px 15px;
    text-align: center;
    box-shadow: 0 5px 20px #f0f0f0; }
    main .team .single-memb .memb-info h6 {
      color: #263a41;
      font-size: 22px;
      margin-bottom: 0; }
    main .team .single-memb .memb-info span {
      display: block;
      margin-bottom: 15px; }
    main .team .single-memb .memb-info .memb-social {
      visibility: hidden; }
      main .team .single-memb .memb-info .memb-social .soc-net {
        text-align: center; }
        main .team .single-memb .memb-info .memb-social .soc-net li {
          display: inline-block; }
          main .team .single-memb .memb-info .memb-social .soc-net li:not(:last-child) {
            margin-right: 10px; }
          main .team .single-memb .memb-info .memb-social .soc-net li a {
            display: block;
            width: 40px;
            height: 40px;
            text-indent: -9999px;
            background-size: cover;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s; }
            main .team .single-memb .memb-info .memb-social .soc-net li a.fb {
              background-image: url("../images/social/facebook.png"); }
            main .team .single-memb .memb-info .memb-social .soc-net li a.in {
              background-image: url("../images/social/instagram.png"); }
            main .team .single-memb .memb-info .memb-social .soc-net li a.tw {
              background-image: url("../images/social/twitter.png"); }
            main .team .single-memb .memb-info .memb-social .soc-net li a.yt {
              background-image: url("../images/social/youtube.png"); }
            main .team .single-memb .memb-info .memb-social .soc-net li a:hover {
              opacity: .8; }
  main .team .single-memb #memb-info-first {
    background-color: transparent; }
  main .team .single-memb:hover .memb-info #memb-social-first {
    visibility: visible; }
  main .team .single-memb #memb-info-second {
    background-color: transparent; }
  main .team .single-memb:hover .memb-info #memb-social-second {
    visibility: visible; }
  main .team .single-memb #memb-info-third {
    background-color: transparent; }
  main .team .single-memb:hover .memb-info #memb-social-third {
    visibility: visible; }

@media (min-width: 768px) and (max-width: 991px) {
  main .team .single-memb .memb-info .memb-social .soc-net li:not(:last-child) {
    margin-right: 3px; } }

main .appointment .appointment-wrap {
  background-color: #fff9f8; }
  main .appointment .appointment-wrap .figure > img {
    display: none; }
  main .appointment .appointment-wrap .appointment-form .input-field {
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d4d3d3;
    background-color: transparent;
    color: #999;
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 30px; }
  main .appointment .appointment-wrap .appointment-form select {
    -webkit-appearance: none; }
  main .appointment .appointment-wrap .appointment-form .btn-primary {
    background: #ff817e;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    border: none;
    border-radius: 50px; }
  main .appointment .appointment-wrap .appointment-form:hover {
    color: #212529; }

@media (min-width: 1200px) {
  main .appointment .appointment-wrap {
    display: flex; }
    main .appointment .appointment-wrap .figure > img {
      display: block; }
    main .appointment .appointment-wrap .appointment-form {
      padding-left: 100px; }
      main .appointment .appointment-wrap .appointment-form form {
        max-width: 650px;
        position: relative;
        top: 50%;
        transform: translateY(-50%); } }

footer {
  background-color: #fff9f8;
  padding: 80px 0 60px; }
  footer .container .footer-nav {
    display: none; }
  footer .container .footer-social {
    margin-top: 30px;
    margin-bottom: 30px; }
    footer .container .footer-social .footer-soc-net {
      text-align: center; }
      footer .container .footer-social .footer-soc-net li {
        display: inline-block; }
        footer .container .footer-social .footer-soc-net li:not(:last-child) {
          margin-right: 10px; }
        footer .container .footer-social .footer-soc-net li a {
          display: block;
          width: 40px;
          height: 40px;
          text-indent: -9999px;
          background-size: cover;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          transition: all .3s; }
          footer .container .footer-social .footer-soc-net li a.fb {
            background-image: url("../images/social/facebook.png"); }
          footer .container .footer-social .footer-soc-net li a.in {
            background-image: url("../images/social/instagram.png"); }
          footer .container .footer-social .footer-soc-net li a.tw {
            background-image: url("../images/social/twitter.png"); }
          footer .container .footer-social .footer-soc-net li a.yt {
            background-image: url("../images/social/youtube.png"); }
          footer .container .footer-social .footer-soc-net li a:hover {
            opacity: .8; }
  footer .container .copyright {
    color: #888;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0; }
    footer .container .copyright a {
      color: #ff817e; }

@media (min-width: 768px) {
  footer .container .footer-nav {
    margin-top: 30px;
    display: block; }
    footer .container .footer-nav .footer-soc-net li {
      display: inline-block; }
      footer .container .footer-nav .footer-soc-net li:not(:last-child) {
        margin-right: 10px; }
      footer .container .footer-nav .footer-soc-net li a {
        color: #263a41;
        text-transform: uppercase;
        display: block;
        font-size: 14px;
        font-weight: 600;
        padding: 0 20px; }
        footer .container .footer-nav .footer-soc-net li a:hover {
          color: #ff817e; } }
