main {
    .banner {
        padding: 8% 0;
        position: relative;
        .spa-image {
            width: 43.4% !important;
            position: absolute;
            top: -85px;
            right: 0;
        }
        // background: url(../images/leaf.png) no-repeat left center / 12.5%; 
        background-image: url(../images/leaf.png);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
        background-size: 12.5%;
    
        span {
            color: $btn-color;
            text-transform: uppercase;
            font-family: 'Rufina', serif;
            letter-spacing: 1.5px !important;
            margin-bottom: 20px;
            font-weight: 400;
        }

        h2 {
            color: $h-color;
            font-size: 49px;
            line-height: 60px;
            margin-top: 25px;
        }

        p {
            color: $text-color;
            margin-bottom: 50px;
            margin-top: 17px;
        }

        .btn-primary {
            text-transform: uppercase;
            border-radius: 0;
            padding: 15px 30px;
            background-color: $btn-color;
            border: none;
            &:hover {
                color: #212529;
                text-decoration: none;
            }
        }
        .video-btn {
            color: $text-color;
            margin-left: 15px;
            &:hover {
                color: $btn-color;
            }
        }
    }
}

@media(max-width: 767px){
    .banner {
        .spa-image {
            display: none;
        }
    }
}

@media(min-width: 768px){
    .banner {
        .spa-image {
            display: block !important;
        }
    }
}