.main-header {
    .container {
        display: flex;
        .header-nav {
            &:focus {

                margin: 0 auto !important;
            }
            .bg-light {
                background-color: transparent !important;
            }
            .navbar {
                .navbar-toggler {
                    border: none;
                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,129,126, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                      }
                      
                    .navbar-toggler {
                        border-color: rgba(255, 129, 126, 1) !important;
                      } 
                }
                margin-top: 30px;
            }
            button:focus {
                outline: none;
            }
        }
        .ml-auto {
            text-transform: uppercase;
            text-align: right;
        }
    }
}

@media(min-width: 768px){
    .main-header {
        .container {
            .header-nav {
                .navbar {
                    z-index: 1;
                }
                .nav-item {
                    .nav-link {
                        color: $link-color;
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 0 20px;
                        &:hover {
                            color: $btn-color;
                        }
                    }
                }
            }
        }
    }
}