.service {
  display: block;
  margin-bottom: 40px;
  padding: 50px 0;
  position: relative;
  width: 100%;

  &__two {
    display: none;
  }

  &__free {
    display: none;
  }

  &__four {
    display: none;
  }

  .container {
    padding: 0;

    &__single-service {
      cursor: pointer;
      overflow: hidden;
      position: relative;

      >img {
        width: 100%;
      }

      &__service-hover {
        background-color: $navbar-toggler-color;
        bottom: -100%;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        transition: .5s;
        // height: 490px;
        width: 100%;

        >img {
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
        }

        > span {
          color: #fff;
          display: block;
          font-family: 'Rufina', serif;
          font-weight: 700;
          left: 46%;
          position: absolute;
          text-align: center;
          top: 60%;
          transform: translateX(-4%);
        }
      }
    }
    .col-lg-3 {
      padding-right: 0;
    }
  }

  &__one {
    display: block;

    &:hover {
      &__hover {
        bottom: 0;
      }
    }
  }
}

@media(min-width: 576px){
        .service {
            .container {
                .single-service {
                    .single-hover {
                        > span {
                            transform: translateX(-1%);
                        }
                    }
                }
            }
        }
}


@media(min-width: 768px){
        .service {
            #two {
                display: block;
                &:hover {
                    #sh-two {
                        bottom: 0;
                    }
                }
            }
            #free {
                display: block;
                &:hover {
                    #sh-free {
                        bottom: 0;
                    }
                }
            }
            .container {
                .single-service {
                    .service-hover {
                        > img {
                            transform: translateX(-50%);
                        }
                        > span {
                            top: 70%;
                            transform: translateX(-35%);
                        }
                    }
                }
            }
        }
}

@media(min-width: 992px){
        .service {
            #four {
                display: block;
                &:hover {
                    #sh-four {
                        bottom: 0;
                    }
                }
            }
        }
}

@media(min-width: 1600px){
        .service {
            .container {
                .single-service {
                    .service-hover {
                        > span {
                            transform: translateX(-32%);
                        }
                    }
                }
            }
        }
}