main {
    .service {
        width: 100%;
        display: block;
        position: relative;
        padding: 50px 0;
        margin-bottom: 40px;
        #two, #free, #four {
            display: none;
        }
        .container {
            padding: 0;
            .single-service {
                overflow: hidden;
                position: relative;
                cursor: pointer;
                >img {
                    width: 100%;
                }
                .service-hover {
                    position: absolute;
                    bottom: -100%;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    transition: all .5s;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // height: 490px;
                    text-align: center;
                    background-color: rgba(255, 129, 126, 0.9);
                    >img {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: center;
                    }
                    > span {
                        position: absolute;
                        top: 60%;
                        transform: translateX(-4%);
                        text-align: center;
                        color: #fff;
                        display: block;
                        font-weight: 700;
                        font-family: 'Rufina', serif;
                        left: 46%;
                    }
                }
            }
            #one {
                display: block;
                &:hover {
                    #sh-one {
                        bottom: 0;
                    }
                }  
            }
            .col-lg-3 {
                padding-right: 0;
            }
        }
    }
}

@media(min-width: 576px){
    main {
        .service {
            .container {
                .single-service {
                    .single-hover {
                        > span {
                            transform: translateX(-1%);
                        }
                    }
                }
            }
        }
    }
}


@media(min-width: 768px){
    main {
        .service {
            #two {
                display: block;
                &:hover {
                    #sh-two {
                        bottom: 0;
                    }
                }
            }
            #free {
                display: block;
                &:hover {
                    #sh-free {
                        bottom: 0;
                    }
                }
            }
            .container {
                .single-service {
                    .service-hover {
                        > img {
                            transform: translateX(-50%);
                        }
                        > span {
                            top: 70%;
                            transform: translateX(-35%);
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 992px){
    main {
        .service {
            #four {
                display: block;
                &:hover {
                    #sh-four {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

@media(min-width: 1600px){
    main {
        .service {
            .container {
                .single-service {
                    .service-hover {
                        > span {
                            transform: translateX(-32%);
                        }
                    }
                }
            }
        }
    }
}