$btn-color: #ff817e;
$btn-hover-color: #212529;
$text-color: #555;
$h-color: #1e2528;
$p-color: #888;
$link-color: #263a41;
$border-color: #e3e6ea;
$carousel-color: #fff9f8;
$indicators-color: #ffc3c2;
$memb-info-color: #fff;
$memb-h-color: #263a41;
$box-shadow-color: #f0f0f0;
$border-bottom-color: #d4d3d3